# Maximum number of requests allowed within the rate limit window
# Example: 100
DEFAULT_RATE_LIMIT_MAX_REQUESTS=

# Time window (in seconds) for the rate limit
# Example: 60
DEFAULT_RATE_LIMIT_WINDOW_SECONDS=

# MongoDB connection string
# Example: mongodb://mongo:27017/ratelimitdb
DATABASE_URL=

# Redis connection URL
# Example: redis://redis:6379
REDIS_URL=

# Enter your values in value position.